{% extends 'layouts/default.html' %}

{% block content %}
<div class="container">
    <table class="table table-hover" id="timers">
        <thead>
        <tr>
            <th>Type</th>
            <th>Region</th>
            <th>Constellation</th>
            <th>System</th>
            <th>Owner</th>
            <th>Time</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for row in campaigns %}
        <tr id="campaign-{{ row.campaign.id }}" class="timer_row" data-tags="active" style="display: table-row;">
            <td class="type">{{ row.campaign.get('typeName') }}</td>
            <td class="region">{{ row.region.get('name') }}</td>
            <td class="constellation">{{ row.constellation.get('name') }}</td>
            <td class="system">{{ row.system.get('name') }}</td>
            <td class="owner">{{ row.campaign.get('defender.name') || '' }}</td>
            <td class="time"><span class="js-timer" data-time="{{ row.campaign.get('start') }}"></span></td>
            <td>{% if row.campaign.get('start')|secondsFromNow < 3600 %}<a href="/project/create/{{row.campaign.id}}" class="btn btn-primary pull-right">Start Project</a>{% endif %}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
